@jsr:registry=https://npm.jsr.io

# figma-managed npm registry config start
//registry.figma.com/npm/3cdfb144-125e-4815-ae50-c9862038303f/registry/:_authToken=figi_AWDJ_UH9ZmfBYh8ITN3_tZ12jODFdLDKuwWKGP3i
@Coc:registry=https://registry.figma.com/npm/3cdfb144-125e-4815-ae50-c9862038303f/registry/
registry=https://registry.npmjs.org/
# figma-managed npm registry config end
