openapi: 3.0.3
info:
  title: GlenKeos Platform API
  description: |
    Complete API specification for the GlenKeos multi-tenant commerce and operations platform.
    
    **Architecture:**
    - 10 microservices
    - Event-driven architecture via EventBridge
    - Multi-tenant with row-level security
    - Cognito JWT authentication
    
    **Services:**
    1. stores-service - Store management
    2. customers-service - Customer accounts and rewards
    3. inventory-service - Inventory and menu management
    4. orders-service - Order lifecycle management
    5. payments-service - PayPal payment processing
    6. drivers-service - Delivery driver management
    7. staff-service - Staff and shift management
    8. metrics-service - Analytics and KPIs
    9. compliance-service - Audit and compliance
    10. notifications-service - Multi-channel notifications
    
  version: 1.0.0
  contact:
    name: GlenKeos Platform Team
    email: platform@glenkeos.com
  
servers:
  - url: https://api.glenkeos.com/v1
    description: Production
  - url: https://staging-api.glenkeos.com/v1
    description: Staging
  - url: http://localhost:3000/v1
    description: Local Development

tags:
  - name: Stores
    description: Store and location management
  - name: Customers
    description: Customer accounts and rewards
  - name: Inventory
    description: Inventory and menu management
  - name: Orders
    description: Order lifecycle and tracking
  - name: Payments
    description: Payment processing via PayPal
  - name: Drivers
    description: Delivery driver management
  - name: Staff
    description: Staff and shift management
  - name: Metrics
    description: Analytics and KPIs
  - name: Compliance
    description: Audit trails and compliance
  - name: Notifications
    description: Multi-channel notifications

security:
  - CognitoAuth: []

components:
  securitySchemes:
    CognitoAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito-issued JWT token

  schemas:
    # ===== STORE SCHEMAS =====
    Store:
      type: object
      required:
        - store_id
        - brand_id
        - store_name
        - address
        - status
      properties:
        store_id:
          type: string
          example: "store_001"
        brand_id:
          type: string
          example: "chic-on-chain"
        store_name:
          type: string
          example: "Chic-on-Chain Downtown"
        address:
          $ref: '#/components/schemas/Address'
        phone:
          type: string
          example: "+1-555-0123"
        email:
          type: string
          format: email
        status:
          type: string
          enum: [ACTIVE, INACTIVE, MAINTENANCE, CLOSED]
        hours:
          type: object
          additionalProperties:
            type: object
        features:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateStoreRequest:
      type: object
      required:
        - brand_id
        - store_name
        - address
      properties:
        brand_id:
          type: string
        store_name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        phone:
          type: string
        email:
          type: string
        hours:
          type: object
        features:
          type: array
          items:
            type: string

    # ===== CUSTOMER SCHEMAS =====
    Customer:
      type: object
      required:
        - customer_id
        - email
      properties:
        customer_id:
          type: string
          example: "cust_abc123"
        email:
          type: string
          format: email
        phone:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        preferences:
          type: object
        marketing_opt_in:
          type: boolean
        created_at:
          type: string
          format: date-time

    RewardsAccount:
      type: object
      properties:
        account_id:
          type: string
        customer_id:
          type: string
        points_balance:
          type: integer
        lifetime_points:
          type: integer
        tier:
          type: string
          enum: [STANDARD, SILVER, GOLD, PLATINUM]

    CreateCustomerRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
        phone:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        marketing_opt_in:
          type: boolean

    # ===== INVENTORY SCHEMAS =====
    InventoryItem:
      type: object
      properties:
        item_id:
          type: string
        store_id:
          type: string
        sku:
          type: string
        item_name:
          type: string
        category:
          type: string
        unit:
          type: string
        quantity:
          type: number
          format: decimal
        threshold_low:
          type: number
        threshold_critical:
          type: number
        unit_cost:
          type: number
          format: decimal

    MenuItem:
      type: object
      properties:
        menu_item_id:
          type: string
        brand_id:
          type: string
        item_name:
          type: string
        description:
          type: string
        category:
          type: string
        price:
          type: number
          format: decimal
        image_url:
          type: string
        calories:
          type: integer
        allergens:
          type: array
          items:
            type: string
        available:
          type: boolean

    InventoryAdjustment:
      type: object
      required:
        - item_id
        - adjustment_quantity
        - reason
      properties:
        item_id:
          type: string
        adjustment_quantity:
          type: number
        reason:
          type: string

    # ===== ORDER SCHEMAS =====
    Order:
      type: object
      properties:
        order_id:
          type: string
        customer_id:
          type: string
        store_id:
          type: string
        order_number:
          type: string
        order_type:
          type: string
          enum: [DINE_IN, PICKUP, DELIVERY]
        status:
          type: string
          enum: [PENDING, ACCEPTED, IN_PREP, READY, OUT_FOR_DELIVERY, COMPLETED, CANCELLED]
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        subtotal:
          type: number
          format: decimal
        tax:
          type: number
          format: decimal
        delivery_fee:
          type: number
          format: decimal
        tip:
          type: number
          format: decimal
        discount:
          type: number
          format: decimal
        total:
          type: number
          format: decimal
        payment_id:
          type: string
        delivery_address:
          $ref: '#/components/schemas/Address'
        special_instructions:
          type: string
        created_at:
          type: string
          format: date-time

    OrderItem:
      type: object
      properties:
        order_item_id:
          type: string
        menu_item_id:
          type: string
        quantity:
          type: integer
        unit_price:
          type: number
          format: decimal
        customizations:
          type: object
        subtotal:
          type: number
          format: decimal

    CreateOrderRequest:
      type: object
      required:
        - store_id
        - order_type
        - items
      properties:
        store_id:
          type: string
        order_type:
          type: string
          enum: [DINE_IN, PICKUP, DELIVERY]
        items:
          type: array
          items:
            type: object
            required:
              - menu_item_id
              - quantity
            properties:
              menu_item_id:
                type: string
              quantity:
                type: integer
              customizations:
                type: object
        delivery_address_id:
          type: string
        special_instructions:
          type: string
        tip:
          type: number

    UpdateOrderStatusRequest:
      type: object
      required:
        - new_status
      properties:
        new_status:
          type: string
          enum: [ACCEPTED, IN_PREP, READY, OUT_FOR_DELIVERY, COMPLETED, CANCELLED]
        reason_code:
          type: string

    # ===== PAYMENT SCHEMAS =====
    Payment:
      type: object
      properties:
        payment_id:
          type: string
        order_id:
          type: string
        customer_id:
          type: string
        amount:
          type: number
          format: decimal
        currency:
          type: string
          default: "USD"
        payment_method:
          type: string
          enum: [PAYPAL, CARD, APPLE_PAY, GOOGLE_PAY]
        status:
          type: string
          enum: [PENDING, AUTHORIZED, COMPLETED, FAILED, REFUNDED]
        paypal_order_id:
          type: string
        paypal_capture_id:
          type: string
        transaction_fee:
          type: number
        net_amount:
          type: number
        created_at:
          type: string
          format: date-time

    CreatePaymentOrderRequest:
      type: object
      required:
        - order_id
        - amount
      properties:
        order_id:
          type: string
        amount:
          type: number
          format: decimal
        currency:
          type: string
          default: "USD"

    CreatePaymentOrderResponse:
      type: object
      properties:
        payment_id:
          type: string
        paypal_order_id:
          type: string
        status:
          type: string

    CapturePaymentRequest:
      type: object
      required:
        - paypal_order_id
      properties:
        paypal_order_id:
          type: string

    RefundRequest:
      type: object
      required:
        - payment_id
        - amount
      properties:
        payment_id:
          type: string
        amount:
          type: number
        reason:
          type: string

    # ===== DRIVER SCHEMAS =====
    Driver:
      type: object
      properties:
        driver_id:
          type: string
        email:
          type: string
        phone:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        vehicle_type:
          type: string
        vehicle_plate:
          type: string
        status:
          type: string
          enum: [AVAILABLE, ASSIGNED, EN_ROUTE, DELIVERING, OFFLINE]
        rating:
          type: number
          format: decimal
        total_deliveries:
          type: integer

    DriverAssignment:
      type: object
      properties:
        assignment_id:
          type: string
        driver_id:
          type: string
        order_id:
          type: string
        assigned_at:
          type: string
          format: date-time
        delivered_at:
          type: string
          format: date-time

    AssignDriverRequest:
      type: object
      required:
        - order_id
      properties:
        order_id:
          type: string

    UpdateDriverLocationRequest:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        accuracy_meters:
          type: integer
        speed_kmh:
          type: number
        heading:
          type: integer

    # ===== STAFF SCHEMAS =====
    Staff:
      type: object
      properties:
        staff_id:
          type: string
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum: [COOK, CASHIER, MANAGER, DRIVER, ADMIN]
        store_id:
          type: string
        active:
          type: boolean

    Shift:
      type: object
      properties:
        shift_id:
          type: string
        staff_id:
          type: string
        store_id:
          type: string
        scheduled_start:
          type: string
          format: date-time
        scheduled_end:
          type: string
          format: date-time
        actual_start:
          type: string
          format: date-time
        actual_end:
          type: string
          format: date-time
        status:
          type: string
          enum: [SCHEDULED, ACTIVE, COMPLETED, CANCELLED]

    CreateStaffRequest:
      type: object
      required:
        - email
        - first_name
        - last_name
        - role
      properties:
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
        store_id:
          type: string

    # ===== METRICS SCHEMAS =====
    RevenueMetrics:
      type: object
      properties:
        period_start:
          type: string
          format: date-time
        period_end:
          type: string
          format: date-time
        gross_revenue:
          type: number
        net_revenue:
          type: number
        total_orders:
          type: integer
        average_order_value:
          type: number

    OperationalMetrics:
      type: object
      properties:
        active_orders:
          type: integer
        avg_prep_time_minutes:
          type: number
        orders_on_time_percent:
          type: number
        inventory_alerts:
          type: integer

    ComplianceMetrics:
      type: object
      properties:
        total_events:
          type: integer
        violations:
          type: integer
        resolved:
          type: integer
        pending:
          type: integer

    # ===== COMPLIANCE SCHEMAS =====
    AuditEvent:
      type: object
      properties:
        audit_id:
          type: string
        entity_type:
          type: string
        entity_id:
          type: string
        action:
          type: string
        actor_id:
          type: string
        changes:
          type: object
        created_at:
          type: string
          format: date-time

    Policy:
      type: object
      properties:
        policy_id:
          type: string
        policy_name:
          type: string
        policy_type:
          type: string
        version:
          type: integer
        content:
          type: string
        status:
          type: string
        effective_date:
          type: string
          format: date

    RiskEvent:
      type: object
      properties:
        risk_id:
          type: string
        risk_type:
          type: string
        severity:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        title:
          type: string
        description:
          type: string
        status:
          type: string

    # ===== NOTIFICATION SCHEMAS =====
    Notification:
      type: object
      properties:
        notification_id:
          type: string
        recipient_id:
          type: string
        channel:
          type: string
          enum: [EMAIL, SMS, PUSH]
        template:
          type: string
        status:
          type: string
          enum: [PENDING, SENT, FAILED, DELIVERED]

    # ===== COMMON SCHEMAS =====
    Address:
      type: object
      required:
        - line1
        - city
        - state
        - postal_code
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country:
          type: string
          default: "US"
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
        details:
          type: object

    PaginatedResponse:
      type: object
      properties:
        items:
          type: array
          items: {}
        total:
          type: integer
        page:
          type: integer
        page_size:
          type: integer
        has_more:
          type: boolean

paths:
  # ===== STORES ENDPOINTS =====
  /stores:
    get:
      tags: [Stores]
      summary: List stores
      parameters:
        - name: brand_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Store'

    post:
      tags: [Stores]
      summary: Create a new store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoreRequest'
      responses:
        '201':
          description: Store created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /stores/{storeId}:
    get:
      tags: [Stores]
      summary: Get store by ID
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '404':
          description: Store not found

    put:
      tags: [Stores]
      summary: Update store
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Store updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'

  # ===== CUSTOMERS ENDPOINTS =====
  /customers:
    post:
      tags: [Customers]
      summary: Create customer account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

  /customers/{customerId}:
    get:
      tags: [Customers]
      summary: Get customer by ID
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

  /customers/{customerId}/rewards:
    get:
      tags: [Customers]
      summary: Get customer rewards account
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsAccount'

    post:
      tags: [Customers]
      summary: Add reward points
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                points:
                  type: integer
                reason:
                  type: string
      responses:
        '200':
          description: Points added

  # ===== INVENTORY ENDPOINTS =====
  /inventory:
    get:
      tags: [Inventory]
      summary: Get inventory items
      parameters:
        - name: store_id
          in: query
          required: true
          schema:
            type: string
        - name: low_stock_only
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/InventoryItem'

  /inventory/adjust:
    post:
      tags: [Inventory]
      summary: Adjust inventory quantity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryAdjustment'
      responses:
        '200':
          description: Inventory adjusted

  /menu:
    get:
      tags: [Inventory]
      summary: Get menu items
      parameters:
        - name: brand_id
          in: query
          required: true
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
        - name: available_only
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MenuItem'

  # ===== ORDERS ENDPOINTS =====
  /orders:
    get:
      tags: [Orders]
      summary: List orders
      parameters:
        - name: customer_id
          in: query
          schema:
            type: string
        - name: store_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Order'

    post:
      tags: [Orders]
      summary: Create a new order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /orders/{orderId}:
    get:
      tags: [Orders]
      summary: Get order by ID
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /orders/{orderId}/status:
    put:
      tags: [Orders]
      summary: Update order status
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusRequest'
      responses:
        '200':
          description: Status updated

  # ===== PAYMENTS ENDPOINTS =====
  /payments/create-order:
    post:
      tags: [Payments]
      summary: Create PayPal order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentOrderRequest'
      responses:
        '201':
          description: PayPal order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentOrderResponse'

  /payments/capture-order:
    post:
      tags: [Payments]
      summary: Capture PayPal order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapturePaymentRequest'
      responses:
        '200':
          description: Payment captured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'

  /payments/orders/{orderId}:
    get:
      tags: [Payments]
      summary: Get payment by order ID
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'

  /payments/refund:
    post:
      tags: [Payments]
      summary: Issue refund
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: Refund issued

  /payments/webhook:
    post:
      tags: [Payments]
      summary: PayPal webhook handler
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed

  # ===== DRIVERS ENDPOINTS =====
  /drivers:
    get:
      tags: [Drivers]
      summary: List drivers
      parameters:
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  drivers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Driver'

  /drivers/{driverId}/assign:
    post:
      tags: [Drivers]
      summary: Assign driver to order
      parameters:
        - name: driverId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignDriverRequest'
      responses:
        '200':
          description: Driver assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverAssignment'

  /drivers/{driverId}/location:
    post:
      tags: [Drivers]
      summary: Update driver location
      parameters:
        - name: driverId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDriverLocationRequest'
      responses:
        '200':
          description: Location updated

  # ===== STAFF ENDPOINTS =====
  /staff:
    post:
      tags: [Staff]
      summary: Create staff member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStaffRequest'
      responses:
        '201':
          description: Staff created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staff'

  /staff/{staffId}/shift/start:
    post:
      tags: [Staff]
      summary: Start shift
      parameters:
        - name: staffId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Shift started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'

  /staff/{staffId}/shift/end:
    post:
      tags: [Staff]
      summary: End shift
      parameters:
        - name: staffId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Shift ended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'

  # ===== METRICS ENDPOINTS =====
  /metrics/revenue:
    get:
      tags: [Metrics]
      summary: Get revenue metrics
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: store_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueMetrics'

  /metrics/operations:
    get:
      tags: [Metrics]
      summary: Get operational metrics
      parameters:
        - name: store_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalMetrics'

  /metrics/compliance:
    get:
      tags: [Metrics]
      summary: Get compliance metrics
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceMetrics'

  # ===== COMPLIANCE ENDPOINTS =====
  /compliance/events:
    get:
      tags: [Compliance]
      summary: Get audit events
      parameters:
        - name: entity_type
          in: query
          schema:
            type: string
        - name: entity_id
          in: query
          schema:
            type: string
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/AuditEvent'

  /compliance/export:
    get:
      tags: [Compliance]
      summary: Export compliance data
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: format
          in: query
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Export generated
          content:
            application/json:
              schema:
                type: object
            text/csv:
              schema:
                type: string

  /compliance/entity/{entityId}:
    get:
      tags: [Compliance]
      summary: Get compliance events for entity
      parameters:
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
