openapi: 3.1.0
info:
  title: GlenKeos Enterprise Platform API
  version: 1.0.0
  description: |
    Complete REST API for the GlenKeos multi-tenant restaurant and delivery platform.

    ## Features
    - Multi-tenant isolation
    - Event-driven architecture
    - JWT authentication
    - Immutable audit trail
    - RBAC enforcement

  contact:
    name: GlenKeos Platform Team
    email: platform@glenkeos.com

servers:
  - url: https://api.glenkeos.com/v1
    description: Production
  - url: https://staging-api.glenkeos.com/v1
    description: Staging
  - url: http://localhost:8000/v1
    description: Local Development

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT authentication token

  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: "VALIDATION_ERROR"
        message:
          type: string
          example: "Invalid input provided"
        details:
          type: object
          additionalProperties: true

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 100
        total:
          type: integer
        totalPages:
          type: integer

paths:
  # Stores
  /stores:
    get:
      operationId: listStores
      tags: [Stores]
      summary: List all stores
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Stores retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Store'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      operationId: createStore
      tags: [Stores]
      summary: Create a new store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoreRequest'
      responses:
        '201':
          description: Store created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /stores/{id}:
    get:
      operationId: getStore
      tags: [Stores]
      summary: Get store by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Store retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '404':
          description: Store not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      operationId: updateStore
      tags: [Stores]
      summary: Update store
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStoreRequest'
      responses:
        '200':
          description: Store updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'

    delete:
      operationId: deleteStore
      tags: [Stores]
      summary: Delete store
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Store deleted successfully

  # Orders
  /orders:
    get:
      operationId: listOrders
      tags: [Orders]
      summary: List all orders
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum: [PLACED, CONFIRMED, IN_PREP, READY, ASSIGNED, PICKED_UP, OUT_FOR_DELIVERY, DELIVERED, CANCELLED, FAILED]
      responses:
        '200':
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      operationId: createOrder
      tags: [Orders]
      summary: Create a new order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /orders/{id}:
    get:
      operationId: getOrder
      tags: [Orders]
      summary: Get order by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

    put:
      operationId: updateOrder
      tags: [Orders]
      summary: Update order
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
      responses:
        '200':
          description: Order updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /orders/{id}/cancel:
    post:
      operationId: cancelOrder
      tags: [Orders]
      summary: Cancel an order
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /orders/{id}/assign:
    post:
      operationId: assignOrderDriver
      tags: [Orders]
      summary: Assign driver to order
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - driverId
              properties:
                driverId:
                  type: string
      responses:
        '200':
          description: Driver assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  # Health Check
  /health:
    get:
      operationId: healthCheck
      tags: [System]
      summary: Health check endpoint
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    example: "1.0.0"

tags:
  - name: Stores
    description: Store management operations
  - name: Orders
    description: Order lifecycle management
  - name: Inventory
    description: Inventory tracking
  - name: Drivers
    description: Driver management
  - name: Staff
    description: Staff and role management
  - name: Policies
    description: Policy management
  - name: Risk
    description: Risk event tracking
  - name: Compliance
    description: Compliance and audit
  - name: Metrics
    description: Metrics and analytics
  - name: System
    description: System operations
